/*  12.0 ===== Medias/Responsive =====   */

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/* All Tablet Portrait size smaller than standard 1199 (devices and browsers) */

@media only screen and (max-width: 1199px) {
	.explore-section .post .cat-link a {
		font-size: 44px;
	}
	.image-icon-wrapper .icons {
		left: 20px;
		right: 20px;
	}
	.page-title-wrap {
		padding: 100px 0 0;
		margin-bottom: 100px;
	}
	.widget_tag_cloud a {
		font-size: 14px;
		margin: 3px 5px 5px 0;
		padding: 9px 20px;
	}
	.about-info-content .author-name {
		font-size: 56px;
	}
	.heading .entry-title {
		font-size: 32px;
	}
}

/* All Tablet Portrait size smaller than standard 1023 (devices and browsers) */

@media only screen and (max-width: 1023px) {
	.site-branding {
		width: 180px;
	}
	.hgroup-wrap .navbar {
		width: 65%;
		width: calc(100% - 330px);
		width: -webkit-calc(100% - 330px);
	}
	.shop-section .custom-col-7 {
		margin-top: 45px;
	}
	.widget .recent-post-wrap .post-content .entry-title,
	.post.flexible-post .post-content .entry-title {
		font-size: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.hgroup-right {
		padding-right: 50px;
	}
	.main-navigation ul li ul {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		border: none !important;
		transition: none !important;
		background: rgba(255, 255, 255, 0);
	}
	.main-navigation ul li ul ul {
		border: none !important;
	}
	.mean-container .mean-nav ul li a:hover {
		background: #ca77b4;
	}
	.main-navigation ul li ul,
	.main-navigation ul li:hover ul ul,
	.main-navigation ul ul li:hover ul ul,
	.main-navigation ul ul ul li:hover ul ul,
	.main-navigation ul ul ul ul li:hover ul ul {
		opacity: 1;
		visibility: visible;
		z-index: 9999;
	}
	.mean-container .mean-nav ul li {
		margin: 0;
	}
	.mean-container .mean-nav ul li li a {
		border-color: rgba(255, 255, 255, 0.5);
		font-size: 14px;
		padding: 11px 5%;
	}
	.mean-container .mean-nav ul li li li a {
		padding: 11px 8%;
	}
	.site-title {
		font-size: 20px;
	}
	.mean-container a.meanmenu-reveal {
		padding: 9px 0px 8px 5px;
		top: 0;
		right: 15px !important;
		z-index: 999;
		bottom: 0;
		margin: auto;
		height: 35px;
		transform: none;
	}
	.mean-container .mean-nav > ul {
		right: 0;
		top: 57px;
		left: 0;
		z-index: 9;
	}
	.mean-container a.meanmenu-reveal span,
	.mean-container .meanmenu-reveal span::before,
	.mean-container .meanmenu-reveal span::after {
		background: var(--black-color);
	}
	.tags-links a:first-child {
		font-size: 68px;
	}
	.slider-image-wrapper .tags-links {
		bottom: 63px;
	}
	.section-wrap-inner .section-left,
	.section-wrap-sidebar {
		width: 100%;
	}
	.slider-title {
		font-size: 36px;
	}
	.featured-slider {
		padding: 35px 0 0;
	}
	.main-navigation .menu-item-has-children::before {
		display: none;
	}
	.main-navigation ul li.menu-item-has-children .mean-expand::before {
		content: "\f0d7";
		display: inline-block;
		font-size: 12px;
		font-family: FontAwesome;
		right: 0;
		position: absolute;
		color: var(--white);
		top: 0;
		bottom: 0;
		margin: auto;
		height: 12px;
		left: 0;
	}
	.widget-instagram ul li .featured-image img {
		width: 100%;
	}
	.site-content section {
		padding: 0 0 50px;
	}
	.testimonial-quote-content .entry-content p {
		font-size: 26px;
	}
	.section-wrap-inner .section-left {
		margin-bottom: 40px;
	}
	.widget .recent-post-wrap .post {
		width: 49%;
		width: calc(50% - 5px);
		width: -webkit-calc(50% - 5px);
	}
	.recent-post-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.site-content .widget-area .widget:last-child {
		margin-bottom: 0;
	}
	.site-content section.video-post-section {
		padding: 70px 0 50px;
	}
	.heading .entry-title {
		font-size: 36px;
	}
	.page-title-wrap {
		margin-bottom: 70px;
	}
	.page-title {
		font-size: 70px;
	}
	.post .entry-title {
		font-size: 24px;
	}
	.widget-title {
		font-size: 24px;
		margin: 0 0 5px;
	}
	#secondary .widget li a,
	#secondary .widget li {
		font-size: 14px;
	}
	.tags-links a:first-child {
		font-size: 38px;
	}
	.post-item-has-2column .post .entry-title {
		font-size: 20px;
	}
	.overlap-post .post-content {
		padding: 15px 15px;
	}
	.post-item-has-2column.overlap-post .post-content,
	.post-item-has-3column.overlap-post .post-content {
		margin-left: 20px;
	}
	.widget-instagram ul {
		gap: 15px;
	}
	.widget-instagram ul li {
		width: 46%;
		width: calc(50% - 10px);
		width: -webkit-calc(50% - 10px);
	}
	.heading .entry-title {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
	}
	.about-info-content {
		padding-top: 15px;
	}
	.about-info-content .author-name {
		font-size: 42px;
	}
	.skills-title {
		font-size: 22px;
		margin: 0 0 5px;
	}
	.site-footer {
		padding-top: 60px;
	}
	.site-footer .widget-area {
		padding: 20px 0 55px;
	}
	.contact-content-item .social-links {
		bottom: -12px;
	}
	.contact-content-item .inline-social-icons ul li {
		margin: 0 5px 5px;
	}
	.map-section {
		margin-top: 40px;
	}
}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */

@media only screen and (max-width: 767px) {
	.custom-col-1,
	.custom-col-2,
	.custom-col-3,
	.custom-col-4,
	.custom-col-5,
	.custom-col-6,
	.custom-col-7,
	.custom-col-8,
	.custom-col-9,
	.custom-col-10,
	.custom-col-11,
	.custom-col-12 {
		float: none;
		width: 100%;
	}
	.slider-image-wrapper {
		width: 100%;
	}
	.tags-links a:first-child {
		font-size: 60px;
	}
	.slider-text {
		width: 100%;
	}
	.testimonial-quote-content-wrap {
		padding: 50px;
	}
	.testimonial-quote-content {
		padding: 42px 35px 52px 35px;
	}
	.testimonial-quote-content .entry-content p {
		font-size: 24px;
	}
	.overlap-post .post-content {
		margin-left: 60px;
		padding-right: 70px;
	}
	.widget .recent-post-wrap .post-content .entry-title,
	.post.flexible-post .post-content .entry-title {
		font-size: 19px;
	}
	.site-generator {
		padding: 17px 0 17px;
		text-align: center;
	}
	.site-generator .custom-col-6:first-child {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		margin-top: 13px;
	}
	.site-generator .custom-col-6:last-child {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.site-generator .footer-menu ul {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.site-footer .widget-area {
		padding: 20px 0 30px;
	}
	.site-footer {
		padding-top: 35px;
	}
	.page-title-wrap {
		margin-bottom: 60px;
		padding-top: 60px;
	}
	.alternative-post .post .post-content {
		padding: 15px 15px 15px;
	}
	.tags-links a:first-child {
		font-size: 40px;
	}
	.post-item-has-2column.overlap-post .featured-image-wrapper .tags-links,
	.post-item-has-3column.overlap-post .featured-image-wrapper .tags-links {
		left: 25px;
		bottom: 30px;
	}
	#secondary .search-form {
		width: 100%;
	}
	.widget-instagram ul li {
		width: 31%;
		width: calc(33.33% - 10px);
		width: -webkit-calc(33.33% - 10px);
	}
	.about-us-content-wrap {
		display: block;
	}
	.skill-content + .about-info-content .author-name {
		margin-left: 0;
	}
	.skill-content {
		padding-bottom: 20px;
	}
	.about-info-content .entry-content p {
		margin-bottom: 15px;
	}
	.contact-content-wrap {
		display: block;
		margin: 0;
	}
	.contact-content-item {
		padding: 0 0 30px;
	}
	.contact-content-item .social-links {
		bottom: 20px;
	}
	.contact-content-item:last-child {
		padding-bottom: 0;
	}
	.slider-text {
		padding-left: 0;
	}
}

@media only screen and (max-width: 567px) {
	.featured-slider {
		padding: 20px 0 0;
	}
	.slider-title {
		font-size: 32px;
		margin-bottom: 0;
	}
	.slider-text {
		padding: 0;
	}
	.site-main {
		padding-top: 35px;
	}
	.alternative-post .post .featured-image-wrapper {
		width: 100%;
	}
	.alternative-post .post .post-content {
		width: 100%;
		margin-left: 0;
		margin-bottom: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.alternative-post .post:nth-child(2n + 2) .featured-image-wrapper {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.alternative-post .post:nth-child(2n + 2) .post-content {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		margin-right: 0;
	}
	.alternative-post .post {
		margin-bottom: 20px;
	}
	.overlap-post .post-content {
		margin-left: 30px;
		padding-right: 50px;
	}
	.overlap-post .featured-image-wrapper .tags-links {
		bottom: 98px;
		left: 30px;
	}
	.widget .recent-post-wrap .post {
		width: 100%;
	}
	.widget .recent-post-wrap .post:last-child {
		margin-bottom: 0;
	}
	.site-content section.video-post-section {
		padding: 50px 0 40px;
	}
	.shop-title-wrap .entry-title {
		font-size: 70px;
		bottom: -19px;
		left: 15px;
	}
	.shop-section .custom-col-7 {
		margin-top: 25px;
	}
	.heading .entry-title {
		font-size: 30px;
	}
	.page-title-wrap {
		margin-bottom: 30px;
	}
	.page-title {
		font-size: 55px;
	}
	.alternative-post
		.post:nth-child(2n + 2)
		.featured-image-wrapper
		.tags-links {
		right: auto;
	}
	.overlap-post .post-content {
		margin: 0;
		padding: 15px 0 0;
	}
	.post-item-has-2column,
	.post-item-has-3column {
		display: block;
	}
	.post-item-has-2column .post,
	.post-item-has-3column .post {
		width: 100%;
	}
	.post-item-has-2column.overlap-post .post-content,
	.post-item-has-3column.overlap-post .post-content {
		margin: 0;
	}
	.overlap-post .featured-image-wrapper .tags-links {
		bottom: -5px;
		left: 0px;
	}
	.post-item-has-2column.overlap-post .featured-image-wrapper .tags-links,
	.post-item-has-3column.overlap-post .featured-image-wrapper .tags-links {
		left: 0;
		bottom: -5px;
	}
	.read-more-btn::before {
		top: -12px;
		background-size: 30px;
	}
	.read-more-btn {
		font-size: 18px;
		margin-top: 12px;
	}
	.skills-wrapper {
		margin-bottom: 20px;
	}
	.skills-title {
		font-size: 20px;
		margin: 0 0 0px;
	}
	.about-info-content .author-name {
		font-size: 34px;
		margin-bottom: 0;
	}
	.author-designation {
		font-size: 18px;
	}
	.about-info-content .entry-content {
		padding-bottom: 0;
	}
	.video-post-section .custom-col-7 .post .post-content {
		padding: 10px 15px 10px;
	}
}

/* All Mobile size smaller than standard 479 (devices and browsers) */

@media only screen and (max-width: 479px) {
	.site-branding {
		width: 140px;
	}
	.hgroup-wrap .navbar {
		width: 0;
		padding: 0;
	}
	.mean-container a.meanmenu-reveal {
		padding: 0;
	}
	.mean-container .meanmenu-reveal span {
		width: 30px;
	}
	.featured-slider .owl-theme .owl-nav {
		bottom: 230px;
	}
	.slider-image-wrapper .tags-links {
		bottom: 50px;
	}
	.slider-title {
		font-size: 26px;
	}
	.explore-section .entry-header.heading {
		bottom: 0;
		padding-bottom: 20px;
	}
	.explore-section .owl-stage .owl-item:nth-child(2n + 1) {
		margin-top: 0;
	}
	.explore-section .post {
		padding: 0;
	}
	.tags-links a:first-child {
		font-size: 50px;
	}
	.post .entry-title {
		font-size: 22px;
	}
	.widget-title {
		font-size: 22px;
		margin: 0 0 10px;
	}
	.widget-instagram ul {
		gap: 15px;
	}
	.widget-instagram ul li {
		width: 47.2%;
		width: calc(50% - 8px);
		width: -webkit-calc(50% - 8px);
	}
	.testimonial-quote-content-wrap {
		padding: 30px;
	}
	.testimonial-quote-content {
		padding: 20px 15px 20px 15px;
	}
	.testimonial-quote-content::before {
		height: 85px;
		width: 85px;
	}
	.testimonial-quote-content .entry-content p {
		font-size: 18px;
	}
	p {
		font-size: 14px;
		line-height: 1.35;
	}
	.overlap-post .post-content {
		margin-left: 0;
		margin-top: 0;
	}
	.overlap-post .featured-image-wrapper .tags-links {
		bottom: 0;
		left: 5px;
	}
	.read-more-btn {
		font-size: 20px;
		margin-top: 15px;
	}
	.box-button {
		font-size: 14px;
		padding: 11px 25px 10px 25px;
	}
	.widget .recent-post-wrap .post-content .entry-title,
	.post.flexible-post .post-content .entry-title {
		font-size: 18px;
	}
	.widget .recent-post-wrap .post-content,
	.post.flexible-post .post-content {
		padding: 10px 0px 0px 12px;
	}
	.video-post-section .custom-col-7 .post .post-content {
		margin-left: 20px;
		margin-top: -30px;
		padding: 10px 15px 5px;
	}
	.video-post-section {
		margin-bottom: 45px;
	}
	.shop-title-wrap .entry-title {
		font-size: 50px;
		left: 7px;
	}
	.shop-section .custom-col-7 {
		margin-top: 20px;
	}
	.heading .entry-title {
		font-size: 26px;
	}
	.search-section {
		padding: 5px;
	}
	.search-form {
		width: 270px;
	}
	.search-section {
		top: 35px;
	}
	.search-section .search-arrow {
		right: 30px;
	}
	.site-header .site-cart-views > .widget_shopping_cart {
		width: 220px;
	}
	.mini_cart_inner {
		padding: 8px;
	}
	.page-title-wrap {
		margin-bottom: 25px;
	}
	.page-title {
		font-size: 40px;
	}
	.tags-links a:first-child {
		font-size: 32px;
	}
	.post .entry-title {
		font-size: 20px;
	}
	.read-more-btn {
		font-size: 18px;
		margin-top: 7px;
	}
	.widget-instagram {
		margin-bottom: 15px;
	}
	.widget_tag_cloud a {
		margin: 3px 3px 3px 0;
		padding: 7px 13px;
	}
	.site-footer {
		padding-top: 25px;
	}
	.site-footer .widget-area {
		padding: 20px 0 10px;
	}
	.site-generator {
		padding: 13px 0 13px;
	}
	.site-footer .widget .social-links ul li {
		margin-right: 5px;
		margin-left: 5px;
	}
	.inline-social-icons li,
	.widget .inline-social-icons li {
		margin: 0 5px;
	}
	.mean-container .mean-nav > ul {
		top: 51px;
	}
	.widget .recent-post-wrap .featured-image-wrapper,
	.post.flexible-post .featured-image-wrapper {
		width: 100%;
	}
	.widget .recent-post-wrap .post-content,
	.post.flexible-post .post-content {
		width: 100%;
		padding: 15px 0 0;
		margin: 0;
	}
	.video-post-section .custom-col-7 .post .post-content {
		margin-top: 0;
		padding: 10px 0 0;
		margin-left: 0;
	}
	.about-info-content .author-name {
		font-size: 28px;
	}
	.skills-title {
		font-size: 18px;
	}
	.skills-value {
		font-size: 20px;
	}
	.site-main {
		padding-top: 25px;
	}
	.entry-header.heading {
		padding: 0px 0 10px;
	}
	.explore-section .post .cat-link a {
		font-size: 32px;
	}
	#secondary .widget li:not(.wp-social-link) a,
	#secondary .widget li:not(.wp-social-link),
	#primary .widget li:not(.wp-social-link) a,
	#primary .widget li:not(.wp-social-link) {
		font-size: 14px;
	}
	.shop-item-wrap,
	ul.products,
	.products.columns-4,
	.products.columns-3,
	.products.columns-2 {
		grid-template-columns: repeat(1, 1fr);
	}
}
